.heroes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc( 100vh - 90px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

h1 {
  font-size: 22px;
  padding: 20px;
  text-align: center;
}
